.top-menu {
    background-color: #212121;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    /* height: auto; */
    margin: auto;
    padding: 15px 0px;
    top: 0;
}

.top-menu .img {
    text-align: center;
    margin: auto;
    display: block;
    max-height: 55px;
}

.description {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}

input[type="file"] {
    display: none;
}

.controls {
    padding-top: 20px;
    display: flex; 
    flex-direction: column;
}

.center {
    display: block !important;
    margin: auto !important;
    text-align: center;
    margin-top: 150px !important;
}

.loading-gif {
    display: block !important;
    margin: auto !important;
    text-align: center;
    margin-top: 0px !important;
}

.container {
    margin: auto;
    width: 100%;
    text-align: center;
}

.upload{
    padding-top: 20px;
    text-align: center;
    margin: auto;
}

.convert {
    /* display: block; */
    padding-top: 20px;
    text-align: center;
    margin: 50px auto !important;
}

.video {
    padding-top: 50px;
}

.link-nodisplay {
    text-decoration: none;
    width: auto;
    margin: auto;
}


.btn-download {
    margin-top: 10px !important;
}

.footer-link {
    color: white;
    transition: .4s;
    padding-bottom: 10px;
}

.footer-link:hover {
    color: #E91E63;
}
