.top-menu {
    background-color: #212121;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    /* height: auto; */
    margin: auto;
    padding: 15px 0px;
    top: 0;
}

.top-menu .title {
    text-align: center;
    margin: 0px;
}

.description {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}